.card .card-title {
  text-transform: none;
}

a.btn {
  color: white;
}

#content-preloader {
  position: absolute;
  width: 100%;
  left: 0;
  height: 100%;
  top: 0;
  z-index: 9;
  background-color: white;
  opacity: 0.8;
}

#content-preloader p {
  text-align: center;
  position: absolute;
  top: 20%;
  left: 47%;
}

